@charset "UTF-8";
/* VARIAVEIS */
:root{
    --corpreto:#202020;
    --corbranco:#FFFFFF;
}

/* 0 - GERAL */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing:border-box ;
    font-size: 1em;
}

li{
    list-style: none;
}

a, a:active{
    color: var(--corbranco);
    text-decoration: none;
    font-weight: normal;
}

/************** 1 - MENU ***************/

.menu-bg{
    background-color: var(--corpreto);
}


.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0px auto;
    flex-wrap: wrap;
}

.nav_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav_link{
    flex: 1 1 100px;
    padding: 20px 20px;
}

@media screen and (min-width: 320px) and (max-width:505px){
    .menu{
        justify-content: space-around;
    }
}
/********* 2 - INPUT ****** */

.input_c{
    max-width: 960px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    
}

.receita-c, .despesa-c{
    margin-bottom: 20px;
}

.receita-c >h2, .despesa-c >h2{
    font-size: 20px;
}

.input-r_data_value, .input-d_data_value{
    text-align: center;
    max-width: 40px;
}

.input-r_valor_value, .input-d_valor_value{
    max-width: 80px;
    text-align: center;
}

.input-r_valor_value, .input-d_valor_value, .input-r_desc_value, 
.input-d_desc_value, .input-r_data_value, .input-d_data_value{
        margin: 5px;
    }

.btnReceita, .btnDespesa{
    margin-left: 2px ;
}



/********* 3 - DATA ****** */


.main_titulo{
    text-align: center;
}

.data_titulo{
    text-align: center;
    margin-bottom: 40px;
}

.section_data{
    max-width: 960px;
    margin: 0px auto;
}

/**********4 - receita_despesa ********/

.receita_despesa{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    

}

.captionR, .captionD{
    position: relative;
    font-weight: bold;
    left: calc(50%);
    
}

.tabela-r, .tabela-d{
    border-collapse: collapse;

}

th, td{
    padding: 10px;
}

th, .tdDado{
    border: 1px solid rgb(0, 0, 0);
    
}

.th_data, .th_desc{
    text-align: center;
}

.th_val{
    text-align: end;
}

@media screen and (max-width:950px){
    .receita_despesa{
        flex-direction: column;
        align-items: center;
    }

    .tabela-r, .tabela-d{
        margin-bottom: 30px;
    
    }
}

/**************TOTAL ****************/


.totalRec{
    max-width: 257px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    margin-top:20px;
}

.valorTotalRec{
    font-weight: bold;
}

.valorTotalRec::before{
    content: 'R$';
}

.totalDes{
    max-width: 257px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(76, 199, 60);
    margin-top:20px;
}

.valorTotalDes{
    font-weight: bold;
}

.valorTotalDes::before{
    content: 'R$';
}

/*******TOTAL*******/
.total{
    max-width: 960px;
    margin: 10px auto ;
    text-align: center;
    font-weight: bold;
}

.valor::after{
    content: 'R$';
}